# EditorConfig configuration
# http://editorconfig.org

# Top-most EditorConfig file
root = true

# UTF-8 charset, set indent to spaces with width of two,
# with no trailing whitespaces and a newline ending every file.
[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[CMakeLists.txt]
indent_size = 4

[*.{c,cpp,cmake,h,hpp}]
indent_size = 4
